
{% block title %}Shady Bank{% endblock title %}
{% block headline %}Shady Bank &mdash; Please Authenticate{% endblock headline %}

{% block body %}
<form method=post>
  <input type="hidden" name="CSRF_TOKEN" value="{{ CSRF_TOKEN }}">
  <h3>Who are you?</h3>
  <p><em>Option 1</em> &bull;  <input type="text" name="pan">
    Type your card number here</p>

  <h3>Prove it!</h3>
  <p>Secret code <input type="text" name="otp">
    <input type=submit value="Sign in">
    </p>
</form>
{% endblock body %}
