<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
  {% block metatags %}{% endblock %}
  <style>
    ol {
        font-family: "Bell Gothic";
        font-weight: bold;
    }
    p {
        font-weight: normal;
    }
  </style>
</head>
<body>
  <h1 style="height: 0.4in"><img src="//shady.tel/images/shadytel_logo.svg" class="logo" /> shadytel</h1>
  <div class="body">
    <h2 style="clear: left;">{% block headline %}{% endblock %}</h3>
    
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}

    <p>
      <strong>
        A SHADYTEL AND BEEROCRACY JOINT PRODUCTION
      </strong>
    </p>
  </div>
</body>
</html>
