<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    {% block metatags %}{% endblock %}
  </head>
  <body>
    <p class="userinfo">
      {% if session["username"] is defined %} you are <a href="/u:{{session['username']}}">{{session['username']}}</a><br/>
      (<a href="/logout">i am not</a>){% endif %}
      <h1>{% block headline %}{% endblock %}</h1>

      {% block body %}{% endblock %}
      {% block footer %}{% endblock %}
      <hr/>
    <p align="center">Beerocracy &mdash; Shadytel &mdash; Toorcamp 2022</p>
  </body>
</html>

